<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Linux VJ System">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>ikascrew</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-green.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="ikascrew-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="ikascrew-mobile-title mdl-layout-title">
            <img src="images/logo.png">
          </span>
        </div>
      </div>

      <div class="ikascrew-content mdl-layout__content" id="parent_container">

{{range .}}
<div class="ikascrew-card-wide mdl-card mdl-shadow--2dp">

  <div class="mdl-card__title" style="background: url('{{.Image}}') center / cover;"> 
    <h2 class="mdl-card__title-text">{{.Name}}</h2>
  </div>

  <div class="mdl-card__supporting-text" style="display:none;">

    <button id="{{.Name}}-remote-mate" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect remote_call" data-name="{{.Name}}" data-type="{{.Type}}" data-effect="mate">
          <i class="material-icons right-section"> autorenew</i>
    </button>

    <button id="{{.Name}}-remote-switch" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect remote_call" data-name="{{.Name}}" data-type="{{.Type}}" data-effect="switch">
          <i class="material-icons right-section"> restore</i>
    </button>

  </div>

  <div class="mdl-card__menu">

    <button id="{{.Name}}-load" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect client_call" data-type="{{.Type}}" data-name="{{.Name}}">
      <i class="material-icons">input</i>
    </button>

    <div class="mdl-tooltip mdl-tooltip--large" for="{{.Name}}-remote-switch">Switch</div>
    <div class="mdl-tooltip mdl-tooltip--large" for="{{.Name}}-remote-mate">Mate</div>

    <div class="mdl-tooltip mdl-tooltip--large" for="{{.Name}}-load">Load</div>

  </div>
</div>

<br/>
{{end}}

      </div>

    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>

    <script>
var win;

$(".client_call").click(function() {
    var name = $(this).attr("data-name");
   var type = $(this).attr("data-type");
    var data = {};
    data.name   = name;
    data.type   = type;

    if ( !win || win.closed ) {

        var p = $(this).parent().prev().css("display","block");
        win = window.open("sub.html","ikasub","toolber=no,location=no,directories=no,status=no")
        win.onload = function() {
            //別ウィンドウに追加
            var con = win.$("#child_container");
            con.append("<br>");
            con.append(p.parent());
        };

    } else {
        var con = win.$("#child_container");
        con.append("<br>");
        var p = $(this).parent().prev().css("display","block");
        con.append(p.parent());
    }

    ajaxCommand("load",data);
});

$(".remote_call").click(function() {
    var name   = $(this).attr("data-name");
    var type   = $(this).attr("data-type");
    var effect = $(this).attr("data-effect");

    var data = {};
    data.name   = name;
    data.type   = type;
    data.effect = effect;

    var con = $("#parent_container");
    var p = $(this).parent().css("display","none");

    con.append("<br>");
    con.append(p.parent());

    ajaxCommand("switch",data);
});

function ajaxCommand(command,data) {
   console.log(command);
   console.log(data);

   $.ajax({
       type: "POST",
       url: command,
       data: data,
       success: function(data) {
           console.log("success");
           console.log(data);
       } ,
       error: function(data) {
           console.log("error");
           console.log(data);
       }
   });
}

    </script>
  </body>
</html>
